.single-actu
  max-width: s(1140,16)
  margin: 0 auto
  padding: s(100,16) s(20,16)
  &__text
    width: 50%
    font-size: s(20,16)
    color: $darkBlue
    font-weight: 300
    line-height: 1.6em
    margin-left: s(50,20)
  &__img
    width: 100%
  &__bloc-one
    display: flex
    flex-direction: row
    margin-bottom: s(100,16)
  &__bloc-two
    & p
      column-count: 2
      column-gap: s(30,20)
      font-size: s(20,16)
      color: $darkBlue
      font-weight: 300
      line-height: 1.6em
      margin-bottom: s(100,20)
  &__title
    font-family: 'crumble'
    font-size: s(50,16)
    color: $lightBlue
    font-weight: bold
    margin-bottom: s(20,50)

@media screen and (max-width:1024px)
  .single-actu
    &__bloc-one
      display: flex
      flex-direction: column
    &__text
      margin-left: 0
      width: 100%

@media screen and (max-width:750px)
  .single-actu
    &__bloc-two
      & p
        column-count: 1

@media screen and (max-width:500px)
  .single-actu
    &__text
      font-size: s(18,16)
    &__bloc-two
      & p
        font-size: s(18,16)
    &__title
      font-size: s(40,16)
