.bloc-header
  color: $white
  text-align: center
  padding-top: s(200,16)
  position: relative
  z-index: 10
  &__title
    text-transform: uppercase
    font-size: s(90,16)
    font-weight: bold
    margin-bottom: s(50,90)
    letter-spacing: s(5,90)
    font-family: 'crumble'
  &__text
    font-size: s(25,16)
    font-weight: 400
    padding-bottom: s(75,25)
    max-width: s(600,25)
    margin: 0 auto
    line-height: 1.5em
  &__button
    font-size: s(22,16)
    background-color: $darkBlue
    width: s(300,22)
    padding: s(10,22) 0
    color: $white
    font-weight: bold
    overflow: hidden
    display: inline-block
    &:after
      icon('iconDons')
      font-size: s(25,16)
      text-align: center
      display: block
      transform: translateY(50px);
      transition: 0.3s ease-in-out
    &:hover
      &:after
        transform: translateY(-10px);
        transition: 0.3s ease-in-out
  &__span
    display: block
    transition: 0.3s ease-in-out
    transform: translateY(15px)

.bloc-header__button:hover .bloc-header__span
  transform: translateY(-30px)
  transition: 0.3s ease-in-out

@media screen and ( max-width: 1024px )
  .bloc-header
    margin: 0 s(40,25)

@media screen and ( max-width: 631px )
  .bloc-header
    &__title
      font-size: s(70,16)
    &__text
      font-size: s(20,16)

@media screen and ( max-width: 509px )
  .bloc-header
    &__title
      font-size: s(50,16)
    &__text
      font-size: s(18,16)
      line-height: 1.4em

@media screen and ( max-width: 386px )
  .bloc-header
    &__title
      font-size: s(35,16)
    &__button
      font-size: s(18,16)
      padding: s(10,18) s(50,18)
