$ws_icon-list =       "iconWorldLink"   "\e900",
                      "iconLieuInscription"   "\e901",
                      "iconTimeInscription"   "\e902",
                      "iconFly"   "\e903",
                      "iconQuotation"   "\e904",
                      "iconParticipate"   "\e905",
                      "iconMore"   "\e906",
                      "iconMail"   "\e907",
                      "iconHome"   "\e908",
                      "iconDons"   "\e909",
                      "iconDonner"   "\e90a",
                      "iconTelContact"   "\e90b",
                      "iconMailContact"   "\e90c",
                      "iconLieuContact"   "\e90d",
                      "iconArrowTwo"   "\e90e",
                      "iconDonSolidarité"   "\e90f",
                      "iconDateTime"   "\e910",
                      "iconConstruire"   "\e911",
                      "iconCalendar"   "\e912",
                      "iconArrowPage"   "\e913",
                      "iconArrowFil"   "\e914",
                      "iconApprendre"   "\e915",
                      "iconDonPartage"   "\e916",
                      "iconDonAvenir"   "\e917"
