// Load config & var
@import "config/global.styl"
@import "config/easing.styl"
@import "config/icons.styl"

// Load mixins & functions
@import "tools/utils.styl"
@import "tools/sizing.styl"
@import "tools/icons.styl"
@import "tools/kaduk.styl"
@import "tools/gridz.styl"

// Load styles
@import "generic/reset_flexbox.styl"
@import "generic/reset_meyer.styl"

// Load Base
@import "base/base.styl"

// load settings
@import "settings/colors.styl"
@import "settings/fonts.styl"

// Load Components

//Home
@import "components/home/home-header.styl"
@import "components/home/home-who.styl"
@import "components/home/home-participate.styl"
@import "components/home/home-event.styl"
@import "components/home/home-actu.styl"
@import "components/home/home-partenaire.styl"

//Event
@import "components/event/event-bloc.styl"

//Actu
@import "components/actu/actu-bloc.styl"

//Contact
@import "components/contact/contact-text.styl"
@import "components/contact/contact-form.styl"

//Dons
@import "components/dons/dons-intro.styl"
@import "components/dons/dons-donate.styl"

//Voayges
@import "components/voyages/voyages-futur.styl"
@import "components/voyages/voyages-finish.styl"

//Projets
@import "components/projets/projets-do.styl"
@import "components/projets/projets-picture.styl"
@import "components/projets/projets-clip.styl"
@import "components/projets/projets-participate.styl"
@import "components/projets/projets-futur.styl"
@import "components/projets/projets-realize.styl"

//About
@import "components/about/about-history.styl"
@import "components/about/about-citation.styl"
@import "components/about/about-do.styl"

@import "components/footer.styl"
@import "components/navigation.styl"
@import "components/header.styl"
@import "components/ariane.styl"
@import "components/faq.styl"

// Load Objects
@import "objects/wrap.styl"
