/* fonts style
* by Anthony Beaumecker
*/

lato = Lato, Helvetica, Arial, sans-serif;


/************************************\
LATO SANS FONTS
\************************************/



// LIGHT

@font-face {
    font-family: 'lato';
    src: url('../fonts/lato-light-webfont.woff2') format('woff2'),
         url('../fonts/lato-light-webfont.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

// REGULAR

@font-face {
    font-family: 'lato';
    src: url('../fonts/lato-regular-webfont.woff2') format('woff2'),
         url('../fonts/lato-regular-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

// SEMI BOLD

@font-face {
    font-family: 'lato';
    src: url('../fonts/lato-semibold-webfont.woff2') format('woff2'),
         url('../fonts/lato-semibold-webfont.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}
// HEAVY

@font-face {
    font-family: 'lato';
    src: url('../fonts/lato-heavy-webfont.woff2') format('woff2'),
         url('../fonts/lato-heavy-webfont.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

// BOLD

@font-face {
    font-family: 'lato';
    src: url('../fonts/lato-bold-webfont.woff2') format('woff2'),
         url('../fonts/lato-bold-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}
