strong
  font-weight: bold

.contact__intro p
  color: $darkBlue
  font-size: s(22,16)
  font-weight: 300
  line-height: 1.6em
  width: 70%
  margin-bottom: s(100,22)

.contact__intro a
  font-weight: bold
  text-decoration: underline
