.projets
  &__bloc-clip
    position: relative

.projets__bloc-clip .iframe-ratio
  display: block
  width: 100%
  height: auto

.projets__bloc-clip iframe
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%
